body{
    background-color: beige;
}

h1{
    text-align: center;
    size: 300px;
    color: red;
}

.style-text1{
    color: magenta;
    text-align: right;
    text-decoration: underline;
    text-transform: uppercase;
    text-indent: 20px;
}
.style-text2{
    color: aqua;
    text-align: center;
    text-decoration: underline;
    text-transform: lowercase;
    text-indent: 25px;
}
#uniqueElement{
    color: aquamarine;
    text-align: left;
    text-indent: 40px;
}
#uiqueeelement2{
    color: brown;
    text-align: center;
}
footer{
    background-attachment: fixed;
    background-color: aliceblue;
}
